.products-container {
  z-index: 999;
 
}

.product-card {
  background-color: #fff;
  z-index: 1111;
}

.product-heading {
}

.product-image {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 1fr 1fr;
}

.product-price {
}
