.header-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  background-color: rgb(61, 61, 61);
  color: white;
}

.menu-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu-container .menu-icon {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}
.menutype {
  font-weight: 500;
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
}
